@import "./variables";

// =============================================
ul.breadcrumb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 80px;
    background: none;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0 4px;

        @media screen and(max-width: 576px) {
            font-size: 1rem;
        }

        @media screen and(max-width: 468px) {
            font-size: .9rem;
        }

        svg {
            color: $breadcrumb-arrow-color;
            margin: 0px 5px;
            font-size: .6rem;
        }

        i {
            color: $breadcrumb-arrow-color;
        }

        a {
            color: #fff;
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
            transition: all ease-in-out .236s;

            &:hover, &.active {
                color: darken(#fff, 20%);
                transition: all ease-in-out .236s;
                text-decoration: none!important;

            }
        }
    }
}
