$primary: #dd489a !default;
$secondary: #838382 !default;
$bg-body: #f5f5f5;
$text-color: #666666;
$title-color: $primary;
$first-gray: black;
$gray-medium: #373435;
$second-gray: #373435;
$third-gray: #8c8c8c;
$navbar-font: 'Poppins';
$title-font: 'Poppins';
$text-font: 'Poppins';
$border-radius: 0;
$breadcrumb-divider: quote(">>");
$margin-top: 175px;
$line-height: 1.4;
$lines: 3;