$primary: #0051af;
$active-color: $primary !important;
$disable-color: #d8d4d4!important;
$hover-color: lighten( $primary, 10% ) !important;
$default-color: #ffff!important;
$disable-txt-color: gray;
$default-border: #b7b6b6;

.pag {
    margin: 30px 0px;

    ul.pagination {
        float: right;

        li {
            span {
                background-color: $default-color;
                color: $active-color;
                padding: 10px 15px;
                border: 1px solid $default-border !important;
            }

            a {
                background-color: $default-color;
                color: $active-color;
                padding: 10px 15px;
                border: 1px solid $default-border !important;
                text-decoration: none;

                &:hover {
                    background-color: $hover-color;
                    color: $default-color;
                    border-color: $hover-color;
                }
            }

            &.disabled {
                span {
                    background-color: $disable-color;
                    color: $disable-txt-color!important;
                    border: 1px solid #b7b6b6;

                }

                &:hover {
                    span {
                        background-color: $disable-color!important;
                        color: $disable-txt-color!important;
                    }
                }
            }

            &.active {

                span {
                    background-color: $active-color;
                    color: $default-color;
                    border-color: $active-color;
                }

            }

        }
    }
}
